body {
    background: #FED3D4;
}

#container {
    background-color: #819DEC;
    width: 50%;
    margin: 20px auto;
    border: 2px solid #F7F8E8;
    padding: 20px;
}

#banner {
    width: 55%;
}

#col_one {
    width: 55%;
    border: 2px solid #F7F8E8;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

#col_two {
    width: 55%;
    border: 2px solid #F7F8E8;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}
.heading_style{
    text-shadow: 2px 2px 2px #F7F8E8;
}

.movie_post{
    width: 75%;
}
img {
    display: block;
    margin: 0 auto;
    width: 90%;
}

nav {
    text-align: center;
    margin: 15px 0;
    background-color: #A3B38E;
    border-radius: 10px;
}
nav ul{
    list-style-type: none;
    padding: 0;
}

nav li { 
    display: inline-block;
}

nav li a {
    display: block;
    color: #8D714E;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 40px;
    width: 50px;
    height: 10px;
    line-height: 40px;
}

nav a:hover { 
    background-color: #FED3D4;
    color: black
}


h1,
h2,
h3,
footer{
    text-align: center;
}